.wp-block-code {
	border: rem(1px) solid var(--color-1);
	color: var(--color-1);
	border-radius: rem(3px);
	padding: rem(16px);
	
	code {
		font-family: var(--font-family-mono);
		font-size: var(--font-size-s);
		white-space: pre;
		overflow-x: auto;
		display: block;
	}
}
