/* OS dark theme preference */
@media only screen {
	.is-dark-theme.is-dark-theme {
		--color-1: #ddd;
		--color-2: #000;
		--color-3: #848484;
	}

	// .respect-color-scheme-preference.is-dark-theme body {
	// 	background-color: var(--global--color-background);
	// }

	#dark-mode-toggler {
		border: 1px solid var(--color-1);
		background-color: var(--color-2);
		color: var(--color-1);
		font-size: var(--font-size-s);
		z-index: 9998;


		&:focus,
		&:hover {
			background-color: var(--color-1);
			color: var(--color-2);
		}

		span {
			font-weight: var(--font-weight-strong);
		}

		.no-js & {
			display: none;
		}

		&.fixed-bottom {
			position: fixed;
			bottom: 1rem;
			right: 1rem;
			transition: bottom 0.5s;

			&.hide:not(:focus) {
				bottom: -5rem;
			}
		}

		.is-IE & {
			display: none;
		}
	}
}
