.wp-block-social-links.wp-block-social-links.wp-block-social-links {

	a:focus {
		outline-offset: rem(5px);
		outline: rem(2px) solid var(--color-1);
		border-radius: rem(100px);
	}

	&.is-style-darchitect-social-icons-color {

		a {
			color: var(--color-1);
		}

		.wp-social-link,
		&.has-icon-background-color.has-icon-background-color .wp-social-link {
			background: none;
		}

	}
}
