.wp-block-media-text {

	[data-align="full"] & {
		margin-top: 0;
		margin-bottom: 0;
	}

	@include innerblock-margin-clear(".wp-block-media-text__content");

	.wp-block-media-text__content {
		padding: rem(40px);
	}

	// Block Styles
	&.is-style-darchitect-border {
		border: rem(1px) solid var(--color-1);
	}
}
