.wp-block-media-text {

	&.alignfull {
		margin-top: 0;
		margin-bottom: 0;
	}

	a:focus img {
		outline-offset: -1px;
	}

	.wp-block-media-text__content {
		padding: rem(40px);

		@include break-s {
			padding: rem(32px);
		}

		> * {
			margin-top: rem(16px);
			margin-bottom: rem(16px);

			@include break-xs {
				margin-top: rem(32px);
				margin-bottom: rem(32px);
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	/**
	 * Block Options
	 */

	&.is-stacked-on-mobile .wp-block-media-text__content {
		@include break-xs {
			padding-top: rem(32px);
			padding-bottom: rem(32px);
		}
	}

	// Block Styles
	&.is-style-twentytwentyone-border {
		border: rem(1px) solid var(--color-1);
	}
}
