.wp-block-group {
	// Start IE clearfix.
	// This hack is only necessary because we want to support IE11.
	// If we don't want to support IE11, then "display: flow-root" would suffice.
	display: block;
	clear: both;

	display: flow-root; // stylelint-disable-line declaration-block-no-duplicate-properties

	&:before,
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	// End IE clearfix.

	.wp-block-group__inner-container {
		margin-left: auto;
		margin-right: auto;

		> * {
			margin-top: rem(16px);
			margin-bottom: rem(16px);

			&.alignfull {
				@extend %responsive-alignfull-width-mobile;
			}

			@include break-xs {
				margin-top: rem(32px);
				margin-bottom: rem(32px);
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.has-background {
		padding: rem(16px);

		@include break-xs {
			padding: rem(32px);
		}
	}

	// Block Styles
	&.is-style-darchitect-border {
		border: rem(3px) solid var(--color-1);
		padding: rem(32px);
	}

	// Adjust alignfull items to account for left and right padding.
	&.has-background,
	&.is-style-darchitect-border {

		.wp-block-group__inner-container > .alignfull,
		.wp-block-group__inner-container > hr.wp-block-separator:not(.is-style-dots):not(.alignwide).alignfull {
			max-width: calc(var(--responsive--alignfull-width) + (2 * #{rem(32px)}));
			width: calc(var(--responsive--alignfull-width) + (2 * #{rem(32px)}));
			margin-left: rem(-32px);
		}
	}
}
