.wp-block-pullquote {
	padding: rem(32px) 0;
	text-align: center;
	border-width: rem(1px);
	border-bottom-style: solid;
	border-top-style: solid;
	color: currentColor;
	border-color: currentColor;
	position: relative;

	blockquote:before {
		display: none;
	}

	p {
		margin: 0;
	}

	a {
		color: currentColor;
	}

	.wp-block-pullquote__citation,
	cite,
	footer {
		color: currentColor;
		display: block;
		font-size: var(--font-size-xs);
		text-transform: none;
		font-family: var(--font-family-mono);
	}

	/**
	 * Block Options
	 */
	&:not(.is-style-solid-color) {
		background: none;
	}

	&.alignleft,
	&.alignright {
		margin-top: rem(8px);

		p {
			font-size: var(--font-size-m);
		}
	}

	&.alignleft:not(.is-style-solid-color) {
		text-align: center;

		cite {
			text-align: center;
		}
	}

	&.alignwide > p,
	&.alignwide blockquote {
		max-width: var(--responsive--alignwide-width);
	}

	&.alignfull:not(.is-style-solid-color) > p,
	&.alignfull:not(.is-style-solid-color) blockquote {
		padding: 0 rem(32px);
	}

	&.is-style-solid-color {
		color: var(--color-1);
		padding: rem(40px);
		border-width: rem(1px);
		border-style: solid;
		border-color: var(--color-1);

		@media (max-width: 600px) {
			padding: rem(8px);
		}

		blockquote {
			margin: 0;
			max-width: inherit;

			p {
				font-size: var(--font-size-xxl);
			}
		}

		.wp-block-pullquote__citation,
		cite,
		footer {
			color: currentColor;
		}

		&.alignleft,
		&.alignright {
			padding: rem(24px);
			
			blockquote {
				max-width: initial;
			}

			p {
				font-size: var(--font-size-l);
			}
		}
	}
}
