.wp-block-pullquote {
	padding: rem(32px) 0;
	text-align: center;
	border-width: rem(1px);
	border-bottom-style: solid;
	border-top-style: solid;
	color: currentColor;
	border-color: currentColor;
	position: relative;

	blockquote::before {
		color: currentColor;
		content: "\201C";
		display: block;
		position: relative; // Override the absolute position.
		left: 0;
		font-size: 3rem;
		font-weight: var(--font-weight-strong);
		line-height: 1;
	}

	p {
		margin: 0;
	}

	a {
		color: currentColor;
	}

	.wp-block-pullquote__citation,
	cite,
	footer {
		color: currentColor;
		display: block;
		font-size: var(--font-size-xs);
		text-transform: none;
	}

	/**
	 * Block Options
	 */
	&:not(.is-style-solid-color) {
		background: none;
	}

	&.alignleft:not(.is-style-solid-color) {

		blockquote:before,
		cite {
			text-align: center;
		}
	}

	&.alignwide > p,
	&.alignwide blockquote {
		max-width: var(--responsive--alignwide-width);
	}

	&.alignfull:not(.is-style-solid-color) > p,
	&.alignfull:not(.is-style-solid-color) blockquote {
		padding: 0 rem(32px);
	}

	&.is-style-solid-color {
		color: var(--color-1);
		padding: crem(40px);
		border-width: rem(1px);
		border-style: solid;
		border-color: var(--color-1);

		@media (min-width: 600px) {
			padding: rem(8px);
		}

		blockquote::before {
			text-align: left;
		}

		blockquote {
			margin: 0;
			max-width: inherit;
		}

		.wp-block-pullquote__citation,
		cite,
		footer {
			color: currentColor;
		}

		&.alignleft,
		&.alignright {
			padding: rem(16px);

			blockquote {
				max-width: initial;
			}
		}
	}
}
