// Text selection background color

::selection {
	color: #000;
	background-color: --color-highlight;
}
::-moz-selection {
	color: #000;
	background-color: --color-highlight;
}

.has-background,
.has-secondary-background-color,
.has-tertiary-background-color,
.has-background-background-color {
	::selection {
		color: #000;
		background-color: --color-highlight;
	}
	::-moz-selection {
		color: #000;
		background-color: --color-highlight;
	}
}

.has-primary-background-color {
	::selection {
		color: #000;
		background-color: --color-highlight;
	}
	::-moz-selection {
		color: #000;
		background-color: --color-highlight;
	}
}