.wp-block-image {
	text-align: center;

	figcaption {
		color: var(--color-1);
		font-size: var(--font-size-xs);
		margin-top: rem(24px);
		margin-bottom: rem(40px);
		text-align: center;
	}

	.alignright {
		margin-left: rem(40px);
	}

	.alignleft {
		margin-right: rem(40px);
	}

	a:focus img {
		outline-offset: 2px;
	}
}

// Remove vertical margins from image block wrappers when floated
.entry-content > *[class="wp-block-image"],
.entry-content [class*="inner-container"] > *[class="wp-block-image"] {
	margin-top: 0;
	margin-bottom: 0;

	// Remove top margins from the following element when previous image block is floated
	+ * {
		margin-top: 0;
	}
}

// Block Styles
.wp-block-image.is-style-darchitect-border img,
.wp-block-image.is-style-darchitect-image-frame img {
	border: rem(1px) solid var(--color-1);
}

.wp-block-image.is-style-darchitect-image-frame img {
	padding: rem(8px);
}

.entry-content {

	> .wp-block-image {

		> .alignleft,
		> .alignright {
			margin-left: 0;
			margin-right: 0;

			@include break-xs {
				max-width: 50%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}
