h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	clear: both;
	font-family: var(--font-family-mono);
	font-weight: 700;

	strong {
		font-weight: 700;
	}
}

h1,
.h1 {
	font-size: var(--font-size-xxxxl);
	text-transform: uppercase;
}

h2,
.h2 {
	font-size: var(--font-size-xxl);
}

h3,
.h3 {
	font-size: var(--font-size-xl);
	font-weight: 500;
}

h4,
.h4 {
	font-size: var(--font-size-l);
	font-weight: 500;
}

h5,
.h5 {
	font-size: var(--font-size-m);
	font-weight: 500;
}

h6,
.h6 {
	font-size: var(--font-size-s);
	text-transform: uppercase;
}
