.wp-block-quote {
	border-left: none;
	font-size: var(--font-size-l);
	padding-left: rem(48px);

	&:before {
		content: "\201C";
		font-size: var(--font-size-xl);
		// line-height: var(--quote--line-height);
		left: 8px;
	}

	.wp-block-quote__citation,
	cite,
	footer {
		font-size: var(--font-size-s);

		.has-background &,
		[class*="background-color"] &,
		[style*="background-color"] &,
		.wp-block-cover[style*="background-image"] & {
			color: currentColor;
		}
	}

	/**
	 * Block Options
	 */	
	&.has-text-align-right {
		margin: rem(32px) rem(40px) rem(32px) auto;
		padding-left: 0;
		padding-right: calc(0.5 * rem(40px));
		border-right: none;
		
		@include break-xs {
			padding-right: 0;
		}
		
		// Hide the left aligned quote.
		&:before {
			right: 0;
			display: none;

			@include break-xs {
				right: auto;
			}	
		}

		// Align the quote left of the text.
		p:before {
			content: "\201D";
			// font-size: var(--quote--font-size);
			font-weight: normal;
			// line-height: var(--quote--line-height);
			margin-right: rem(5px);
		}
	}

	&.has-text-align-center {
		margin: rem(32px) auto;

		@include break-xs {
			padding-left: auto;
			padding-right: auto;
		}

		&:before {
			display: none;
		}
	}

	&.is-large,
	&.is-style-large {
		padding-left: 0;
		padding-right: 0;

		/* Resetting margins to match _block-container.scss */
		margin-top: rem(32px);
		margin-bottom: rem(32px);

		p {
			font-size: var(--font-size-xl);
			// font-style: var(--quote--font-style-large);
			// line-height: var(--quote--line-height-large);
		}

		&:before {
			font-size: var(--font-size-xl);
			// line-height: var(--quote--line-height-large);
			left: rem(-40px);
		}

		&.has-text-align-right {

			// Hide the left aligned quote.
			&:before {
				display: none;
			}

			// Align the quote left of the text.
			p:before {
				content: "\201D";
				font-size: var(--font-size-xl);
				font-weight: normal;
				// line-height: var(--quote--line-height-large);
				margin-right: 10px;
			}
		}

		.wp-block-quote__citation,
		cite,
		footer {
			color: var(--color-1);
			font-size: var(--font-size-s);
		}

		@include break-xs {
			padding-left: rem(40px);

			&:before {
				left: 0;
			}

			&.has-text-align-right {
				padding-left: 0;
				padding-right: rem(40px);

				&:before {
					right: 0;
				}
			}

			&.has-text-align-center {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}
