.wp-block-quote {
	border-left: rem(4px) solid var(--color-1);
	font-size: var(--font-size-m);
	padding-left: rem(16px);

	&:before {
		display: none;
	}

	.wp-block-quote__citation,
	cite,
	footer {
		font-family: var(--font-family-mono);
		font-size: var(--font-size-xs);

		.has-background &,
		[class*="background-color"] &,
		[style*="background-color"] &,
		.wp-block-cover[style*="background-image"] & {
			color: currentColor;
		}
	}

	/**
	 * Block Options
	 */	
	&.has-text-align-right {
		padding-left: 0;
		padding-right: rem(16px);
		border: 0;
		border-right: rem(4px) solid var(--color-1);
	}

	&.has-text-align-center {
		// margin: rem(32px) auto;
		padding-left: rem(16px);
		padding-right: rem(16px);
		border-left: rem(4px) solid var(--color-1);
		border-right: rem(4px) solid var(--color-1);
	}

	&.is-large,
	&.is-style-large {
		padding: 0;
		border: 0;

		/* Resetting margins to match _block-container.scss */
		margin-top: rem(32px);
		margin-bottom: rem(32px);

		p {
			font-size: var(--font-size-xl);
		}

		.wp-block-quote__citation,
		cite,
		footer {
			color: var(--color-1);
			font-size: var(--font-size-xs);
		}
	}
}
