.wp-block-search {
	max-width: var(--responsive--aligndefault-width);

	&__button-only.aligncenter {

		.wp-block-search__inside-wrapper {
			justify-content: center;
		}
	}

	.wp-block-search__label {
		// font-size: var(--form--font-size);
		// font-weight: var(--form--label-weight);
		margin-bottom: rem(8px);
	}

	.wp-block-search__input {
		border: rem(1px) solid var(--color-1);
		border-radius: rem(3px);
		// color: var(--form--color-text);
		// line-height: var(--form--line-height);
		max-width: inherit;
		margin-right: rem(1px);
		padding: rem(8px)

		// &:focus {
		// 	color: var(--form--color-text);
		// 	border-color: var(--color-1);
		// }

		// .has-background & {
		// 	border-color: var(--local--color-primary, var(--global--color-primary)) !important;
		// }
	}

	button.wp-block-search__button {
		margin-left: 0;
		line-height: 1;

		&.has-icon {
			padding: rem(6px) rem(12px);

			svg {
				width: 40px;
				height: 40px;
				fill: currentColor;
			}
		}

		// &:hover,
		// &:active {

		// 	.has-background & {
		// 		background-color: var(--local--color-background, var(--global--color-background)) !important;
		// 		color: var(--local--color-primary, var(--global--color-primary)) !important;
		// 	}

		// 	.has-text-color & {
		// 		color: var(--local--color-primary, var(--global--color-primary)) !important;
		// 	}
		// }
	}

	&.wp-block-search__button-inside {

		.wp-block-search__inside-wrapper {
			background-color: var(--color-2);
			border: rem(1px) solid var(--color-1);
			border-radius: rem(3px);
			padding: rem(1px);

			.has-background & {
				border-color: var(--color-1) !important;
			}

			.wp-block-search__input {
				margin-left: 0;
				margin-right: 0;
				padding-left: rem(8px);

				// Add outline for focus styles to override default
				&:focus {
					color: var(--color-1);
					outline-offset: -2px;
					outline: 2px dotted var(--color-1);
				}
			}

			button.wp-block-search__button {
				padding: rem(8px) rem(12px);

				// Search button always needs black contrast against white form background
				&:hover {
					color: var(--color-1);
				}

				.is-dark-theme & {
					color: var(--color-1);

					&:hover {
						background-color: var(--color-1);
						color: var(--color-2);
					}
				}

				&.has-icon {
					padding: 6px rem(12px);
				}
			}
		}
	}
}

.wp-block-search__button {
	box-shadow: none;
}
