.wp-block-search {
	max-width: var(--responsive--aligndefault-width);

	&__button-only.aligncenter {

		.wp-block-search__inside-wrapper {
			justify-content: center;
		}
	}

	.wp-block-search__label {
		font-weight: var(--font-weight-strong);
		margin-bottom: rem(8px);
	}

	.wp-block-search__input {
		border: rem(1px) solid var(--color-1);
		border-radius: rem(3px);
		max-width: inherit;
		margin-right: rem(4px);
		padding: rem(16px);
		
		@include break-m {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			margin-right: 0;
		}
	}

	button.wp-block-search__button {
		margin-left: 0;
		line-height: 1;
		

		@include break-m {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&.has-icon {
			padding: rem(6px) rem(12px);

			svg {
				width: 40px;
				height: 40px;
				fill: currentColor;
			}
		}
	}

	&.wp-block-search__button-inside {

		.wp-block-search__inside-wrapper {
			background-color: var(--color-2);
			border: rem(1px) solid var(--color-1);
			border-radius: rem(3px);
			padding: rem(3px);

			.has-background & {
				border-color: var(--color-1) !important;
			}

			.wp-block-search__input {
				margin-left: 0;
				margin-right: 0;
				padding: rem(16px);

				// Add outline for focus styles to override default
				&:focus {
					color: var(--color-1);
					outline-offset: rem(-2px);
					outline: rem(2px) dotted var(--color-1);
				}
			}

			button.wp-block-search__button {
				padding: rem(8px) rem(12px);

				@include break-m {
					border-radius: rem(3px);
				}

				// Search button always needs black contrast against white form background
				&:hover {
					color: var(--color-1);
				}

				.is-dark-theme & {
					color: var(--color-1);

					&:hover {
						background-color: var(--color-1);
						color: var(--color-2);
					}
				}

				&.has-icon {
					padding: 0 rem(6px);
				}
			}
		}
	}

	&.wp-block-search__no-button {
		.wp-block-search__input {
			@include break-m {
				border-radius: rem(3px);
			}
		}
	}
}

.wp-block-search__button {
	box-shadow: none;
}
