// .page-title {
// 	font-size: var(--global--font-size-page-title);
// }

// h1.page-title,
// h2.page-title {
// 	font-weight: var(--heading--font-weight-page-title);
// }

// h1.page-title {
// 	line-height: var(--heading--line-height-h1);
// }

.page-header {
	padding-bottom: rem(64px);
	text-align: center;
}

.archive,
.search {
	.entry-title {
		text-align: left;
	}
}

.archive,
.search,
.blog {

	.content-area {

		.format-aside,
		.format-status,
		.format-link {

			.entry-content {
				font-size: var(--font-size-l);
			}
		}

	}

	.format-image,
	.format-gallery,
	.format-video {

		.entry-content {
			margin-top: rem(64px);
		}
	}

	.entry-footer {

		.cat-links,
		.tags-links {
			display: block;
		}
	}

	&.logged-in {

		.entry-footer {

			.posted-on {
				margin-right: rem(8px);
			}
		}
	}
}

.archive-description {
	margin-top: rem(32px);
	font-size: var(--font-size-xxl);
}
