html {
	font-family: var(--font-family-serif);
	line-height: 1.5;
}

body {
	color: var(--color-1);
	background-color: var(--color-2);
	font-size: var(--font-size-m);
	font-weight: var(--font-weight-normal);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

// Enforce the custom link color even if a custom background color has been set.
// The extra specificity here is required to override the background color styles.
.has-background {
	// Target both current level and nested block.
	.has-link-color a,
	&.has-link-color a {
		color: var(--wp--style--color--link, var(--color-1));
	}
}

button,
a {
	cursor: pointer;
}
