
.footer-navigation {
	margin-top: rem(80px);
	margin-bottom: rem(40px);
	// color: var(--footer--color-text);
	// font-size: var(--global--font-size-xs);
	// font-family: var(--footer--font-family);
}

.footer-navigation-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;

	li {
		display: inline;
		// This is to prevent hover styles from overlapping when the menu wraps.
		line-height: 3;

		a {
			padding: rem(16px) rem(8px);
			transition: transform 0.1s ease;
			color: var(--color-1);

			&:link,
			&:visited,
			&:active {
				color: var(--color-1);
			}

			&:hover {
				text-decoration: underline;
				text-decoration-style: dotted;
				text-decoration-skip-ink: none;
				color: var(--color-1);
			}

			&:focus {

				.is-dark-theme & {

					.svg-icon {
						fill: var(--color-1);
					}
				}

				// Change colors when the body background is white.
				.has-background-white & {

					.svg-icon {
						fill: var(--color-1);
					}
				}
			}
		}

		.svg-icon {
			vertical-align: middle;
			fill: var(--color-1);

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	.sub-menu-toggle,
	.menu-item-description {
		display: none;
	}
}
