// Footer
.site-footer {
	margin-top: rem(64px);
	padding: 0 rem(16px) rem(16px);

	// Increase the top vertical spacing when there is no widget area.
	.no-widgets & {
		margin-top: rem(64px);
	}

	@include break-xs {
		.no-widgets & {
			margin-top: rem(192px);
		}
	}
}

// Footer Branding
.site-footer > .site-info {
	padding-top: rem(32px);
	padding-bottom: rem(24px);

	@include break-xs {
		padding-bottom: rem(8px);
	}

	.powered-by {
		text-align: right;
		font-size: var(--font-size-xs);
		font-family: var(--font-family-mono);
		margin-top: rem(16px);
	}
}
