// Site header
.site-header {
	.wp-custom-logo & {
		align-items: center;
	}
}

// Site branding
.site-branding {
	text-align: center;
	margin: var(--page-margin);
}

.title-and-search {
	position: relative;
	display: inline-block;
	line-height: 2;
	padding: rem(4px) rem(6px);
	background: var(--color-1);
}

// Site title
.site-title {
	margin: 0;
	background: var(--color-1);
	color: var(--color-2);
	font-size: var(--font-size-l);
	font-family: var(--font-family-mono);
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;

	a {
		color: var(--color-2);
		text-decoration: none;

		&:focus,
		&:hover {
			text-underline-offset: 0.125; // 2px/16
			text-decoration-style: wavy;
			text-decoration-skip-ink: none;
		}
	}
}

// Search form
.site-branding .search-form {
	overflow: hidden;
	display: flex;
	align-items: stretch;
	margin: 0;
	max-width: none;
	position: absolute;
	width: rem(32px);
	top: 0;
	bottom: 0;
	left: 100%;
	overflow: hidden;

	> label {
		margin-bottom: 0;
		background-image: url('./assets/images/search.svg');
		background-repeat: no-repeat;
		background-position: center center;
		font-size: 0;
		width: rem(32px);
		min-height: rem(32px);
		cursor: pointer;
		
		&:hover {
			background-color: var(--color-1);
			background-image: url('./assets/images/search-light.svg');
		}
	}

	&:focus-within {
		left: 0;
		width: calc(100% + 2rem);
		flex-wrap: nowrap;

		> label {
			width: 0;
			height: 0;
		}

		.search-field,
		.search-submit {
			transform: translateX(0);
		}

		.search-submit {
			display: block;
		}
	}


	.search-field,
	.search-submit {
		transform: translateX(150%);
	}


	.search-field {
		margin: 0;
		min-width: 0;
		max-width: none;
		padding: 0 rem(8px);
		background: var(--color-1);
		color: var(--color-2);
		font-size: rem(16px);
		font-family: var(--font-family-mono);
	}

	.search-submit {
		display: none;
		width: 100%;
		margin: 0;
		background-color: var(--color-1);
		background-image: url('./assets/images/search-light.svg');
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: 0;
		font-size: 0;
		width: rem(32px);
		height: rem(32px);
	}
}

// .site-title > a {
	// text-decoration-color: var(--global--color-secondary);
// }

// Site logo
// .site-logo {

	// margin: calc(var(--global--spacing-vertical) / 2) 0;

	// .site-header > & {
	// 	width: 100%;
	// 	padding-bottom: calc(var(--global--spacing-vertical) * 1.5);
	// 	border-bottom: 1px solid;
	// 	text-align: center;
	// }

	// .custom-logo {
	// 	margin-left: auto;
	// 	margin-right: auto;
	// 	max-width: var(--branding--logo--max-width-mobile);
	// 	max-height: var(--branding--logo--max-height-mobile);
	// 	height: auto;
	// 	display: inline-block;
	// 	width: auto;
	// }

	// @include media(mobile) {

	// 	.custom-logo {
	// 		max-width: var(--branding--logo--max-width);
	// 		max-height: var(--branding--logo--max-height);
	// 		height: auto;
	// 		width: auto;
	// 	}
	// }
// }
