
// Navigation

// Mobile menu toggles
.menu-button-container {
	display: none;
	justify-content: space-between;
	position: absolute;
	right: 0;
	padding-top: rem(96px);
	padding-bottom: rem(8px);

	@media (max-width: 479px) {
		display: flex;
	}

	// Override specificity from default button styles.
	#primary-mobile-menu {
		display: flex;
		margin-left: auto;
		padding: rem(16px) rem(12px);
		// font-size: var(--primary-nav--font-size-button);
		// font-weight: var(--primary-nav--font-weight-button);
		background-color: transparent;
		border: none;

		.dropdown-icon {
			display: flex;
			align-items: center;

			.svg-icon {
				margin-left: rem(4px);
			}

			// Menu icon is off-center vertically to prevent blurry pixels.
			&.open .svg-icon {
				position: relative;
				top: -1px;
			}

			&.close {
				display: none;
			}
		}

		&[aria-expanded*="true"] {

			.dropdown-icon {

				&.open {
					display: none;
				}

				&.close {
					display: flex;

					.has-logo.has-title-and-tagline & {
						animation-name: darchitect-close-button-transition;
						animation-duration: 0.3s;
					}
				}
			}
		}
	}

	// When the menu is open, hide the close button and show the hide button.
	.primary-navigation-open & {
		width: 100%;
		z-index: 500;
		background-color: var(--color-2);

		#primary-mobile-menu {
			position: static;
		}
	}
}

.primary-navigation {
	position: absolute;
	top: var(--global--admin-bar--height);
	right: 0;
	// color: var(--color-1);
	// font-size: var(--primary-nav--font-size);
	// line-height: 1.15;
	margin-top: 0;
	margin-bottom: 0;

	// Mobile menu closed
	> .primary-menu-container {
		position: fixed;
		visibility: hidden;
		opacity: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		// Height of the menu-button-container using font size, line height, and total padding, plus 5px so the focus of the first item is visible.
		padding-top: rem(64px);
		padding-left: rem(16px);
		padding-right: rem(16px);
		padding-bottom: rem(40px);
		background-color: var(--color-2);
		transition: all .15s ease-in-out;
		transform: translateY(#{rem(32px)});

		@media (max-width: 479px) {
			height: 100vh;
			z-index: 499;
			overflow-x: hidden;
			overflow-y: auto;
			border: 2px solid transparent;

			.has-logo.has-title-and-tagline & {
				position: fixed;
				transform: translateY(0) translateX(100%);
			}

			.admin-bar .has-logo.has-title-and-tagline & {
				top: var(--global--admin-bar--height);
			}

			.admin-bar & {
				height: calc(100vh - var(--global--admin-bar--height));
			}

			&:focus {
				border: 2px solid var(--color-1);
			}
		}
	}

	// Mobile menu open
	.primary-navigation-open & {

		@media (max-width: 479px) {
			width: 100%;
			position: fixed;
			z-index: 2; // To be greater than the cover block and embeds.
		}

		> .primary-menu-container {
			position: absolute;
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
		}
	}

	.primary-navigation-open .has-logo.has-title-and-tagline & {
		@media (max-width: 479px) {

			> .primary-menu-container {
				transform: translateX(0) translateY(0);
			}
		}
	}

	@include break-xs {
		position: relative;
		margin-left: auto;

		// Hide Mobile menu on desktop
		> .primary-menu-container {
			visibility: visible;
			opacity: 1;
			position: relative;
			padding: 0;
			background-color: transparent;
			overflow: initial;
			transform: none;
		}

		// Hide mobile menu toggle
		#toggle-menu {
			display: none;
		}

		// Hide sub-sub-menus
		> .primary-menu-container ul > li .sub-menu-toggle[aria-expanded="false"] ~ ul {
			display: none;
		}

		// Don't adjust position when logged-in
		.admin-bar & {
			top: initial;

			> .primary-menu-container {
				top: initial;
			}
		}
	}

	// Menu list wrapper
	> div > .menu-wrapper {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		max-width: none;
		padding-left: 0;
		position: relative;

		@media (max-width: 479px) {
			padding-bottom: 100px;

			ul {
				padding-left: 0;
			}
		}

		li {
			display: block;
			position: relative;
			width: 100%;

			@include break-xs {
				margin: 0;
				width: inherit;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		// Sub-menu buttons
		.sub-menu-toggle {
			display: flex;
			height: rem(32px);
			width: 44px;
			padding: 0;
			justify-content: center;
			align-items: center;
			background: transparent;
			color: currentColor;
			border: none;

			&:focus {
				outline: rem(2px) solid var(--color-1);
			}

			@media (max-width: 479px) {
				display: none;
			}

			.icon-plus,
			.icon-minus {
				height: 100%;
				display: flex;
				align-items: center;

				svg {
					margin-top: -1px;
				}
			}

			.icon-minus {
				display: none;
			}

			// When the sub-menu is open, display the minus icon
			&[aria-expanded="true"] {

				.icon-minus {
					display: flex;
				}

				.icon-plus {
					display: none;
				}
			}
		}

		// Sub-menus Flyout
		> li > .sub-menu {

			position: relative;

			@include break-xs {
				left: 0;
				margin: 0;
				min-width: max-content;
				position: absolute;
				top: 100%;
				padding-top: 3px;
				transition: all 0.5s ease;
				z-index: 88888;

				&:before,
				&:after {
					content: "";
					display: block;
					position: absolute;
					width: 0;
					top: -10px;
					left: rem(40px);
					border-style: solid;
					border-color: var(--color-1) transparent;
					border-width: 0 rem(7px) rem(10px) rem(7px);
				}

				&:after {
					top: -9px;
					border-color: var(--color-2) transparent;
				}

				li {
					background: var(--color-2);
				}

				&.submenu-reposition-left {

					/* rtl:ignore */
					left: 0;

					/* rtl:ignore */
					right: auto;

					&:before,
					&:after {

						/* rtl:ignore */
						left: rem(40px);

						/* rtl:ignore */
						right: auto;
					}
				}

				&.submenu-reposition-right {

					/* rtl:ignore */
					right: 0;

					/* rtl:ignore */
					left: auto;

					&:before,
					&:after {

						/* rtl:ignore */
						left: auto;

						/* rtl:ignore */
						right: rem(40px);
					}
				}
			}
		}
	}

	// Top-level Item Link Colors
	.primary-menu > .menu-item:hover > a {
		color: var(--color-1);
	}

	.primary-menu-container {
		@include break-xs {
			// Better align with the site title when the menu wraps.
			margin-right: calc(0px - #{rem(8px)});
			margin-left: calc(0px - #{rem(8px)});

			// Top-level Menu Item
			> ul > .menu-item {
				display: flex;

				> a {
					padding-left: rem(8px);
					padding-right: rem(8px);

					+ .sub-menu-toggle {
						margin-left: calc(5px - #{rem(8px)});
					}
				}
			}
		}
	}

	// Menu Item Link
	a {
		display: block;
		padding: rem(8px) 0;
		text-decoration: none;

		+ svg {
			fill: var(--color-1);
		}

		// &:hover,
		// &:link,
		// &:visited {
		// 	color: var(--primary-nav--color-link-hover);
		// }

		&:hover {
			text-decoration: underline;
			text-decoration-style: dotted;
		}

		&:focus {
			position: relative;
			z-index: 99999; // Ensure focus styles appear above absolute positioned elements
			outline-offset: 0;
			text-decoration-thickness: 2px;
		}
	}

	.current-menu-item > a:first-child,
	.current_page_item > a:first-child {
		text-decoration: underline;
		text-decoration-style: solid;

		&:hover {
			text-decoration: underline;
			text-decoration-style: dotted;
		}
	}

	// Sub-menu depth indicators + text styles
	.sub-menu {
		margin: 0;
		padding: 0;
		list-style: none;
		margin-left: rem(8px);
		border: rem(1px) solid var(--color-1);

		.sub-menu {
			border: none;
		}

		// Sub-menu items om wide screens.
		@include break-xs {

			// For nested sub-menus, don't duplicate the padding
			> .menu-item > .sub-menu {
				padding: 0;
			}
		}

		.menu-item {

			@media (max-width: 479px) {

				&:last-child {
					margin-bottom: 0;
				}

			}

			> a {
				padding: rem(12px) rem(8px);
				display: block;
			}
		}
	}

	// Show top-level sub-menu indicators above mobile-breakpoint-only
	.menu-item-has-children {

		> .svg-icon {
			display: none;
		}

		@include break-xs {

			> .svg-icon {
				display: inline-block;
				height: 100%;
			}

			.sub-menu .svg-icon {
				display: none;
			}
		}

	}

	.menu-item-description {
		display: block;
		clear: both;
		font-size: var(--font-size-xs);
		text-transform: none;
		line-height: 1.7;

		> span {
			display: inline-block;
		}
	}
}

// Keep the menu pinned to the top when the menu is open.
@media (max-width: 479px) {

	.lock-scrolling .site {
		position: fixed;
		max-width: 100%;
		width: 100%;
	}
}

// Close button animation for when a custom logo is present.
@keyframes darchitect-close-button-transition {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
