/* Next/Previous navigation */

// All navigation
.navigation {
	color: var(--color-1);

	a {
		color: var(--color-1);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			text-decoration-style: dotted;
		}

		// &:focus {
		// 	color: var(--global--color-secondary);
		// }

		// &:active {
		// 	color: var(--color-1);
		// }
	}

	.nav-links {
		> * {
			min-width: rem(44px);
			min-height: rem(44px);
		}

		.nav-next a,
		.nav-previous a {
			display: flex;
			flex-direction: column;
			font-family: var(--font-family-mono);
			font-size: var(--font-size-s);
		}

		.dots {
			text-align: center;
		}

		@include break-s {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			.nav-next,
			.nav-previous {
				flex: 0 1 auto;
				margin-bottom: inherit;
				margin-top: inherit;
				max-width: calc(50% - #{rem(8px)});
			}

			.nav-next {
				text-align: right;
			}
		}
	}

	.svg-icon {
		display: inline-block;
		fill: currentColor;
		vertical-align: middle;
		position: relative;
	}

	.nav-previous .svg-icon,
	.prev .svg-icon {
		top: -2px;
		margin-right: rem(4px);
	}

	.nav-next .svg-icon,
	.next .svg-icon {
		top: -1px;
		margin-left: rem(4px);
	}
}

// Singular navigation
.post-navigation {

	margin: rem(32px) auto;

	@include break-l {
		margin: rem(32px) auto;
	}

	@extend %responsive-aligndefault-width;

	.meta-nav {
		font-weight: 600;
	}

	.post-title {
		display: inline-block;
		// font-family: var(--global--font-primary);
		// font-size: var(--global--font-size-lg);
		// font-weight: var(--pagination--font-weight-strong);
		// line-height: var(--global--line-height-heading);
		@include break-s {
			margin: 0 rem(28px) 0;
		}
	}

	.nav-links {
		@include break-xs {
			justify-content: space-between;
		}
	}

	.nav-next,
	.nav-previous {
		margin-top: rem(32px);
		margin-bottom: rem(32px);
		
		&:first-child {
			margin-top: 0;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
		
		@include break-xs {
			margin-left: rem(-28px);
		}
	}
	@include break-xs {
		.nav-next {
			margin-right: rem(-28px);
		}
	}
}

// Index/archive navigation
.pagination,
.comments-pagination {

	border-top: rem(3px) solid var(--color-1);
	padding-top: rem(32px);
	margin: rem(32px) auto;

	@include break-l {
		margin: rem(32px) auto;
	}

	@extend %responsive-alignwide-width;

	// Resets the top margin added to the .nav-links items below.
	.nav-links {
		margin-top: rem(-32px);

		// a:hover {
		// 	color: var(--pagination--color-link-hover);
		// }

		// .is-dark-theme & {

		// 	a:active,
		// 	a:hover:active,
		// 	a:hover:focus {
		// 		color: var(--global--color-background);
		// 	}
		// }

		.has-background-white & {

			a:active,
			a:hover:active,
			a:hover:focus {
				color: var(--color-2);
			}
		}
	}

	.nav-links > * {
		// color: var(--pagination--color-text);
		// font-family: var(--pagination--font-family);
		// font-size: var(--pagination--font-size);
		// font-weight: var(--pagination--font-weight);
		margin-top: rem(32px);
		margin-left: rem(16px);
		margin-right: rem(16px);

		&.current {
			text-decoration: underline;
		}

		&:not(.dots):not(.current):hover {
			text-decoration-style: dotted;
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&.next {
			margin-left: auto;
		}

		&.prev {
			margin-right: auto;
		}
	}

	@media (max-width: 959px) {

		.nav-links {
			display: flex;
			flex-wrap: wrap;
		}

		.page-numbers {
			display: none;

			&.prev,
			&.next {
				display: inline-block;
				flex: 0 1 auto;
			}
		}
	}

	@media (max-width: 479px) {

		.nav-short {
			display: none;
		}
	}
}

// Comments pagination
.comments-pagination {
	padding-top: rem(16px);
	margin: rem(64px) auto;

	@include break-l {
		margin: rem(64px) auto rem(72px) auto;
	}

	// .nav-links > * {
	// 	font-size: var(--font-size-m);
	// }
}
