.sticky {
	// This class is required to pass ThemeCheck.
}

.no-results.not-found > *:first-child {
	margin-bottom: rem(96px);
}

// Styling for wp_link_pages.
.page-links {
	clear: both;

	.post-page-numbers {
		display: inline-block;
		margin-left: rem(8px);
		margin-right: rem(8px);
		min-width: rem(44px);
		min-height: rem(44px);

		&:first-child {
			margin-left: 0;
		}
	}
}
