.search-no-results {
	.page-header.page-header {
		margin-bottom: 0;
	}

	.page-content {
		margin-top: rem(32px);

		p {
			font-size: var(--font-size-l);
			margin-bottom: rem(48px);
		}
	}
}

.search-results {
	.page-header {
		margin-bottom: 0;
	}
}

.search-result-count {
	background-color: var(--color-1);
	margin-bottom: rem(192px);
	padding: 0 rem(16px);
	color: var(--color-2);
	text-align: center;
	text-transform: uppercase;
	font-size: var(--font-size-xl);
	font-family: var(--font-family-mono);
	font-weight: var(--font-weight-heavy);
	margin-top: 0;
}