.widget-area {
	@extend %responsive-alignwide-width;
	margin-top: rem(192px);
	padding-bottom: rem(8px);
	// color: var(--color-1);
	// font-size: var(--footer--font-size);
	// font-family: var(--footer--font-family);

	@include break-m {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: rem(80px);
	}

	@include break-xl {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: 479px) {
		margin-top: rem(96px);
	}

	ul {
		list-style-type: none;
		padding: 0;

		// li {
		// 	line-height: var(--widget--line-height-list);
		// }

		&.sub-menu,
		&.children {
			margin-left: rem(16px);
		}

		.sub-menu-toggle {
			display: none;
		}
	}

	a {
		color: var(--color-1);
		text-decoration: underline;
		text-decoration-style: solid;
		text-decoration-color: currentColor;

		&:link,
		&:visited,
		&:active {
			color: var(--color-1);
		}

		&:hover {
			color: var(--color-1);
			text-decoration-style: dotted;
		}
	}

	.wp-block-social-links {

		&.alignright {
			margin-top: rem(32px);
			justify-content: flex-end;
		}

		&.alignleft {
			margin-top: rem(32px);
		}
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.widget-title {
	font-size: var(--font-size-s);
}

// Search widget styles
.search-form {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	max-width: var(--responsive--aligndefault-width);

	> label {
		width: 100%;
		margin-bottom: 0;
	}

	.search-field {
		flex-grow: 1;
		max-width: inherit;
		margin-top: rem(8px);
		margin-right: rem(8px);
	}

	.search-submit {
		margin-top: rem(8px);
	}
}

.widget_search > .search-form {

	.search-field {
		margin-right: calc(-1 * #{rem(1px)});
		-webkit-appearance: none;
		margin-bottom: rem(16px);
	}

	.search-submit {
		margin-left: 0;
		margin-bottom: rem(16px);
	}
}

.widget_rss a.rsswidget .rss-widget-icon {
	display: none;
}
