/**
 * Button
 */
.site .button,
button,
input[type="submit"],
input[type="reset"],
.wp-block-search .wp-block-search__button,
.wp-block-button .wp-block-button__link,
.wp-block-file a.wp-block-file__button {
	// Extend button style
	@include button-style();
}

/**
 * Block Options
 */
.wp-block-button {

	// Target the default and filled button states.
	&:not(.is-style-outline) {

		.wp-block-button__link:not(:hover):not(:active) {

			// Text colors
			&:not(.has-text-color) {
				color: var(--color-2);

				// Nested
				.has-background & {
					color: var(--color-2);

					&.has-background {
						color: var(--color-2);
					}
				}
			}

			// Background-colors
			&:not(.has-background) {
				background-color: var(--color-1);

				// Nested
				.has-background & {
					background-color: var(--color-1);
				}
			}
		}

		// Hover Button color should match parent element foreground color 
		.wp-block-button__link:hover,
		.wp-block-button__link:active {
			border-color: currentColor !important;
			background-color: transparent !important;
			color: inherit !important;
		}
	}

	// Outline Style.
	&.is-style-outline {

		.wp-block-button__link:not(:hover):not(:active) {

			// Border colors
			&:not(.has-text-color),
			&:not(.has-background),
			&.has-background {
				border-color: currentColor;
			}

			// Text colors
			&:not(.has-text-color) {
				color: var(--color-1);

				// Nested
				.has-background & {
					color: var(--color-1);
				}
			}

			&.has-background {
				// Nested
				.has-background &:not(.has-text-color) {
					color: inherit;
				}
			}

			// Background-colors
			&:not(.has-background) {
				background-color: transparent;
			}
		}

		.wp-block-button__link:hover,
		.wp-block-button__link:active {

			border-color: transparent !important;
			background-color: var(--color-1) !important;
			color: var(--color-2) !important;

			.has-background & {
				background-color: var(--color-1) !important;
				color: var(--color-2) !important;
			}

			.has-text-color & {	
				color: var(--color-2) !important;
			}
		}
	}

	// Squared Style
	.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}
}

.is-style-outline .wp-block-button__link[style*="radius"]:focus,
.wp-block-button a.wp-block-button__link[style*="radius"]:focus {
	outline-offset: rem(2px);
	outline: rem(2px) dotted var(--color-1);
}
