.wp-block-latest-comments {
	padding-left: 0;

	.wp-block-latest-comments__comment {
		font-size: var(--font-size-s);

		/* Vertical margins logic */
		margin-top: rem(40px);
		margin-bottom: rem(40px);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.wp-block-latest-comments__comment-meta {
		font-family: var(--font-family-mono);
	}

	.wp-block-latest-comments__comment-date {
		color: var(--color-1);
		font-size: var(--font-size-xs);
	}

	.wp-block-latest-comments__comment-excerpt p {
		font-size: var(--font-size-s);
		margin: 0;
	}
}
