
.wp-block-latest-comments {
	padding-left: 0;
	border: rem(1px) dashed var(--color-1);
	border-radius: rem(3px);
	
	.wp-block-latest-comments__comment {
		margin-bottom: 0;
		padding: rem(16px) rem(16px) rem(24px);
		border-top: rem(1px) dashed var(--color-1);
		font-size: var(--font-size-s);

		&:first-child {
			border-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.wp-block-latest-comments__comment-meta {
		font-family: var(--font-family-mono);
		padding-top: rem(2px);
	}

	.wp-block-latest-comments__comment-date {
		color: var(--color-1);
		font-size: var(--font-size-xs);
	}

	.wp-block-latest-comments__comment-excerpt {
		margin-top: rem(16px);
		font-family: var(--font-family-mono);
		
		p {
			font-size: var(--font-size-s);
			line-height: 1.3;
			margin: 0;
		}
	}
}

.wp-block-latest-comments .avatar,
.wp-block-latest-comments__comment-avatar {
	box-sizing: border-box;
	width: rem(40px);
	height: rem(40px);
	margin-right: rem(16px);
	border: rem(8px) solid var(--color-1);
}

.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt,.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
	margin-left: rem(56px);
}