table,
.wp-block-table {
	width: 100%;
	min-width: rem(240px);
	border-collapse: collapse;
	font-family: var(--font-family-mono);
	font-size: var(--font-size-xs);

	thead,
	tfoot {
		text-align: center;
	}

	th {
		font-weight: 700;
	}

	td,
	th {
		padding: rem(8px) rem(12px);
		border: 1px solid;
	}

	figcaption {
		color: var(--color-1);
		font-size: var(--font-size-xs);
	}

	&.is-style-stripes {
		border: 0;

		th,
		td {
			border-width: 0;
		}

		thead {
			background-color: var(--color-1);
			color: var(--color-2);
			border-color: var(--color-2);
		}

		tbody tr:nth-child(odd) {
			background-color: var(--color-1);
			color: var(--color-2);
		}

		.has-background tbody tr:nth-child(odd) {
			background-color: var(--color-2);
		}
	}
}

table.wp-calendar-table {

	td,
	th {
		background: transparent;
		border: 0;
		text-align: center;
		line-height: 2;
		vertical-align: middle;
		word-break: normal;
	}

	th {
		font-weight: bold;
	}

	thead,
	tbody {
		color: currentColor;
		border: 1px solid;
	}

	caption {
		font-weight: bold;
		text-align: left;
		margin-bottom: rem(16px);
		color: currentColor;
	}
}

.wp-calendar-nav {
	text-align: left;
	margin-top: rem(8px);

	svg {
		height: 1em;
		vertical-align: middle;

		path {
			fill: currentColor;
		}
	}

	.wp-calendar-nav-next {
		float: right;
	}
}
