/* 
Breakpoint mixin - about as simple as it gets and mobile first
*/

$break-zoomed-in: 280px;
$break-xs: 480px;   // mobile:   breakpoint_sm
$break-s: 600px;    // tablet:   breakpoint_md
$break-m: 782px;    // laptop:   breakpoint_lg
$break-l: 960px;    // desktop:  breakpoint_xl
$break-xl: 1080px;  // wide:     breakpoint_xxl
$break-xxl: 1280px;
$break-xxxl: 1440px;

@mixin break-xss() {
	@media (min-width: #{ ($break-xxs) }) {
		@content;
	}
}

@mixin break-xs() {
	@media (min-width: #{ ($break-xs) }) {
		@content;
	}
}

@mixin break-s() {
	@media (min-width: #{ ($break-s) }) {
		@content;
	}
}

@mixin break-m() {
	@media (min-width: #{ ($break-m) }) {
		@content;
	}
}

@mixin break-l() {
	@media (min-width: #{ ($break-l) }) {
		@content;
	}
}

@mixin break-xl() {
	@media (min-width: #{ ($break-xl) }) {
		@content;
	}
}

@mixin break-xxl() {
	@media (min-width: #{ ($break-xxl) }) {
		@content;
	}
}

@mixin break-xxxl() {
	@media (min-width: #{ ($break-xxxl) }) {
		@content;
	}
}
