/* Variables */

:root {

	/* Font Family */
	--font-family-serif: 'IBM Plex Serif', Garamond, serif; // 400 i, 500 i, 700 i
	--font-family-mono: 'IBM Plex Mono', "Lucida Console", Monaco, monospace; // 400, 500, 700

	/* Font Size */
	--font-size-root: #{rem(14px)};
	--font-size-xs: #{rem(12px)};
	--font-size-s: #{rem(14px)};
	--font-size-m: #{rem(16px)};
	--font-size-l: #{rem(20px)};
	--font-size-xl: #{rem(24px)};
	--font-size-xxl: #{rem(28px)};
	--font-size-xxxl: #{rem(32px)};
	--font-size-xxxxl: #{rem(40px)};

	@include break-m {
		--font-size-root: #{rem(16px)};
		--font-size-xs: #{rem(12px)};
		--font-size-s: #{rem(14px)};
		--font-size-m: #{rem(18px)};
		--font-size-l: #{rem(24px)};
		--font-size-xl: #{rem(32px)};
		--font-size-xxl: #{rem(40px)};
		--font-size-xxxl: #{rem(56px)};
		--font-size-xxxxl: #{rem(80px)};
	}

	/* Font Weight */
	--font-weight-normal: 400;
	--font-weight-strong: 500;
	--font-weight-heavy: 700;

	/* Line Height */
	--line-height-body: 1.5;
	--line-height-headings: 1.3;

	/* Colors */
	--color-1: #000;
	--color-2: #fff;
	--color-3: #848484;
	
	/* Spacing */
	--page-margin: #{rem(24px)};
	
	@include break-xs {
		--page-margin: #{rem(40px)};
	}

	/* Admin-bar height */
	--global--admin-bar--height: 0px;
}

.admin-bar {
	--global--admin-bar--height: 32px;

	@media only screen and (max-width: 782px) {
		--global--admin-bar--height: 46px;
	}
}

