blockquote {
	padding: 0;
	position: relative;
	margin: rem(16px) 0 rem(16px) ;

	> * {
		margin-top: rem(16px);
		margin-bottom: rem(16px);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	cite,
	footer {
		font-weight: normal;
		color: var(--color-1);
		font-size: var(--font-size-s);
	}

	&.alignleft,
	&.alignright {

		padding-left: inherit;

		p {
			max-width: inherit;
			width: inherit;
		}

		cite,
		footer {
			font-size: var(--font-size-s);
		}
	}

	strong {
		font-weight: var(--font-weight-strong);
	}

	&:before {
		content: "\201C";
		font-size: var(--font-size-xl);
		position: absolute;
		left: rem(8px);
	}

	.wp-block-quote__citation,
	cite,
	footer {
		color: var(--color-1);
		font-size: var(--font-size-s);
	}
}
