blockquote {
	padding: 0;
	position: relative;
	margin: rem(16px) 0 rem(16px) ;

	> * {
		margin-top: rem(16px);
		margin-bottom: rem(16px);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	p {
		// letter-spacing: var(--heading--letter-spacing-h4);
		// font-family: var(--quote--font-family);
		// font-size: var(--quote--font-size);
		// font-style: var(--quote--font-style);
		// font-weight: var(--quote--font-weight);
		// line-height: var(--quote--line-height);
	}

	cite,
	footer {
		font-weight: normal;
		color: var(--color-1);
		font-size: var(--font-size-s);
		// letter-spacing: var(--global--letter-spacing);
	}

	&.alignleft,
	&.alignright {

		padding-left: inherit;

		p {
			// font-size: var(--heading--font-size-h5);
			max-width: inherit;
			width: inherit;
		}

		cite,
		footer {
			font-size: var(--font-size-s);
			// letter-spacing: var(--global--letter-spacing);
		}
	}

	strong {
		font-weight: var(--font-weight-strong);
	}

	&:before {
		content: "\201C";
		font-size: var(--font-size-xl);
		// line-height: var(--quote--line-height);
		position: absolute;
		left: rem(8px);
	}

	.wp-block-quote__citation,
	cite,
	footer {
		color: var(--color-1);
		font-size: var(--font-size-s);
		// font-style: var(--quote--font-style-cite);
	}

	// @include media(mobile-only) {
	// 	padding-left: rem(8px);

	// 	&:before {
	// 		left: 0;
	// 	}
	// }
}
